* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Verdana', sans-serif;
}

.container {
  
  display: flex;
  margin: 30px auto;
  /* overflow: auto; */
  width:60%;
  min-height:200px;
  border: 1.5px solid #00467F;
  /*padding: 30px;*/
  border-radius: 4px;
  justify-content: center;
  flex-direction: column;
  text-align:center;
  background-color:#F2F2F2;

}


.box2 {
  border: 1px solid greenyellow;
  padding: 50px;
}

.rubricItem {
 padding: 10px;
 border: 1px solid red;
 display: flex;
}

.formtext {
  min-width: 0;
  height: 100%;
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
/*
.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  width: 150px;
  height: 50px;
} 

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}
*/
.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 18px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}




/* 
something to be redone
 */





@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
/*
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
/*table, caption, tbody, tfoot,*/  tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/*
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*/
/*
body{
    font-family: 'Rubik', sans-serif;
}*/


.app{
    display: flex;
}
.sidebar{
    width:200px;
    background-color: #365262;
    color: #EBF8FE;
    padding-top:200px;
    padding-left:20px;
    height:100vh;
    
}
.sidebar__items{
    display: flex;
    flex-direction: column;

}
.sidebar__items a{
    color: #EBF8FE;
    font-size:20px;
    margin-bottom:40px;
    text-decoration: none;
}
.sidebar_active{
    text-decoration: underline!important;
}
.tab-nav{
 margin-top:70px;
 margin-bottom:60px;   
}
.tab-nav a{    
    color:#A2A2A2;
    font-size:20px;
    font-weight: 500;
    padding:20px;
    text-decoration: none;
}

.inner-content{
    padding-top:70px;
    padding-left:40px;
}

h1{
    color:#365262;
    font-size:26px;
    font-weight: 500;
}
h2{
    color:#365262;
    font-size:20px;
    font-weight: 500;
}
.login{
    padding-top:70px;
    padding-left:40px;
}
.login button{
    margin-top:40px;
}
.login p{
    margin-top:30px;
}
.tab_active{
    color:#365262!important;
    text-decoration: underline!important;
}
.users h1{
    margin-bottom:20px;
}
.users__card{
    margin-top:40px;
    border:1px solid #365262;
    padding:20px;
}
.users__card p{
    margin-bottom: 10px;
}
.new-user__form{
    margin-top:40px;
   
}
.new-user__form-group{
    margin-top:10px;
    padding:10px;
}
.new-user__form-group input{
    margin-left:20px;
    padding:10px 10px;
}
.new-user__form-group button{
    padding:10px;
}

.form-row{
    display: flex;
    margin-top:10px;
    align-items: flex-end;
    margin-bottom:10px;
   
    
}
.dynamic-form button {
   padding:10px 10px;
   max-height: 40px;
   
}
.input-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right:10px;
    

}

.input-group input, textarea{     
      padding:10px 10px;
      margin-top:10px;
      
}
.form-row button {
  padding:10px 10px;
  max-height: 40px;
}

.row-section{
    /*margin-top:40px;*/
    width:60%;
    margin:auto;
}
.row-section  h3{
    color:#365262;
    margin-top:30px;
}
.row-section__inner{
    border:1.5px solid #365262;
    border-radius: 15px;
    padding:20px;
    margin-bottom:20px;
    background-color:#F2F2F2;
    /*margin-bottom:10px;*/
    
}
.row-section .form-row{
  margin-top:10px;
}
.fileUpload{
  margin-left: 15px;
}
.form-group{
  margin-bottom:15px;
  
}

.rubricTitleStyle{
  
  color:#365262;
  font-size:26px;
  font-weight: 500;
  align-items: center;
  margin-bottom:5px;
}

.rubricTable {
  margin-top:10px;
}

.rubricHead {
  background-color:#00467F;
  text-align:center;
  color:white;
 
}
textarea, input{
  border-color:#00467F;
  border-width: 1px;
  border-radius:5px;
}

.criteriaWidth{
  width:88%;
}
.sidebtn-group{
  display:flex;
  flex-direction:column;
  justify-content: space-between;
}
.sidebtn{
  width:65px;
  vertical-align: baseline;
}

.fixedbtn{
  position: fixed;
  bottom: 0;
  right: 0;
}

hr {  
  margin-top: 20px;
}
.questionTitleStyle {
  font-size:22px;
  font-weight:bold;
  width:35%;
}
/*
.btn-primary{
    background-color:#365262;
    color:white;
} */